<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= data %>
    <form action="/contact/edit/<%= data.id%>?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">

        First name : <input type="text" name ="firstname" value="<%= data.firstname %>" />
        <br>
        Last name : <input type="text" name ="lastname" value="<%= data.lastname %>" />
        <br>
        Email : <input type="email" name ="email" value="<%= data.email %>" />
        <br>
        Message : 
        <textarea name="message" id="message" cols="30" rows="10">
            <%= data.message %>
        </textarea>
        <br>
        <input type="submit" value="Update data">
    </form>

    <form action="/contact/delete/<%= data.id%>?_method=DELETE" method="post">
        <input type="hidden" name="_method" value="DELETE">

        <input type="submit" value="Supprimer">
    </form>

</body>
</html>